<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">   <!--页面宽度自适应-->
    <title>SEARCH</title>

    <!--Bootstrap Stylesheet [ REQUIRED ]-->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <link rel="shortcut icon" href="../static/images/logo.jpg">
    <!--Nifty Stylesheet [ REQUIRED ]-->
    <link href="../static/css/nifty.min.css" rel="stylesheet">


    <!--Nifty Premium Icon [ DEMONSTRATION ]-->
    <link href="../static/css/nifty-demo-icons.min.css" rel="stylesheet">


    <!--Demo [ DEMONSTRATION ]-->
    <link href="../static/css/nifty-demo-icons.min.css" rel="stylesheet">
    <link href="../static/css/nifty-demo.min.css" rel="stylesheet">
    <link href="../static/css/font-awesome.min.css" rel="stylesheet">



    <!--JAVASCRIPT-->
    <!--=================================================-->

    <!--Pace - Page Load Progress Par [OPTIONAL]-->
    <link href="../static/css/pace.min.css" rel="stylesheet">

    <script src="../static/js/pace.min.js"></script>


    <!--jQuery [ REQUIRED ]-->
    <script src="../static/js/jquery-2.2.4.min.js"></script>


    <!--BootstrapJS [ RECOMMENDED ]-->
    <script src="../static/js/bootstrap.min.js"></script>


    <!--NiftyJS [ RECOMMENDED ]-->
    <script src="../static/js/nifty.min.js"></script>
    <script src="../static/js/icons.js"></script>
    <script src="../static/js/echarts.min.js"></script>
    <script src="../static/js/tags.js"></script>
    <script src="../static/js/gojs.js"></script>


    <!--=================================================-->

    <!--Demo script [ DEMONSTRATION ]-->
    <script src="../static/js/nifty-demo.min.js"></script>
    <style type="text/css">
        input[type=submit]{
            width:100%;
            height:30px;
        }
        .graph {
            position: absolute;
            height: fit-content;
            width: fit-content;
            border: 1px solid black;
            border-radius:5px 5px 5px 5px;
        }
    </style>

</head>

<body>

<div id="container" class="effect aside-float aside-bright mainnav-lg"> <!--总的框架-->

    <!--NAVBAR-->
    <!--===================================================-->
    <header id="navbar">   <!--左边导航栏整体框架-->
        <div id="navbar-container" class="boxed">   <!--猜测可能需要一个div再来装下整个框架-->

            <!--Brand logo & name-->
            <!--================================-->
            <div class="navbar-header">  <!--容纳检索系统还有logo-->
                <a href="{{ url_for('index') }}" class="navbar-brand">
                    <img src="../static/images/logo.jpg" alt="Nifty Logo" class="brand-icon">
                    <div class="brand-title">
                        <span class="brand-text">检索系统</span>
                    </div>
                </a>
            </div>
            <!--================================-->
            <!--End brand logo & name-->


            <!--Navbar Dropdown-->
            <!--================================-->
            <div class="navbar-content clearfix">
                <ul class="nav navbar-top-links pull-left">

                    <!--Navigation toogle button-->
                    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                    <li class="tgl-menu-btn">
                        <a class="mainnav-toggle" href="#">
                            <i class="demo-pli-view-list"></i>
                        </a>
                    </li>

                </ul>
                <ul class="nav navbar-top-links pull-left">

                    <h4>CODE CHECKING</h4>

                </ul>
            </div>
            <!--================================-->
            <!--End Navbar Dropdown-->

        </div>
    </header>
    <!--===================================================-->
    <!--END NAVBAR-->

    <div class="boxed">

        <!--CONTENT CONTAINER-->
        <!--===================================================-->
        <div id="content-container">
            <idv id="dataid" d="{{ results }}" style="display:none"></idv>

            <!--Page content-->
            <!--===================================================-->
            <div id="page-content">
                <div class="row" style="width:100%;">
                    <h3 style="text-align:center;">CODE SEARCHING RESULTS</h3>
                    <div class="col-lg-4" style="width:100%;" id="insert">

                    </div>
                </div>

            </div>
            <!--===================================================-->
            <!--End page content-->
        </div>
        <!--===================================================-->
        <!--END CONTENT CONTAINER-->


        <!--MAIN NAVIGATION-->
        <!--===================================================-->
        <nav id="mainnav-container">
            <div id="mainnav">

                <!--Menu-->
                <!--================================-->
                <div id="mainnav-menu-wrap">
                    <div class="nano">
                        <div class="nano-content" style="width:280px;">

                            <ul id="mainnav-menu" class="list-group">



                                <!--Category name-->
                                <li class="list-header">TASKS</li>

                                <!--Menu list item-->


                                <!--Menu list item-->
                                <li>
                                    <a href="{{ url_for('code_searching') }}">
                                        <i class="fa fa-search fa-lg" style="width:24px"></i>
                                        <span class="menu-title" id="code_searching">
                                                <strong>code searching</strong>
                                            </span>

                                    </a>


                                </li>

                                <li>
                                    <a href="{{ url_for('code_checking') }}">
                                        <i class="fa fa-check fa-lg" style="width:24px"></i>
                                        <span class="menu-title" id="cdoe_checking">
                                                <strong>code checking</strong>
                                            </span>

                                    </a>


                                </li>
                            </ul>



                        </div>
                    </div>
                </div>
                <!--================================-->
                <!--End menu-->

            </div>
        </nav>
        <!--===================================================-->
        <!--END MAIN NAVIGATION-->
    </div>

    <!-- FOOTER -->
    <!--===================================================-->
    <footer id="footer">

        <p class="pad-lft">Copyright&#0169; 2021 luozhiwen  &nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;All Rights Reserved </p>

    </footer>
    <!--===================================================-->
    <!-- END FOOTER -->

    <!-- SCROLL PAGE BUTTON -->
    <!--===================================================-->
    <button class="scroll-top btn">
        <i class="pci-chevron chevron-up"></i>
    </button>
    <!--===================================================-->
</div>

<script type="text/javascript">
    var results = document.getElementById('dataid').getAttribute('d');
    var JSON_results = JSON.parse(results);

    //console.log(JSON_results.result);
    main_div = document.getElementById("insert"); //装所有result的div
    for(var i=0;i<JSON_results.result.length;i++){
        //console.log(i);
        var the_div = document.createElement("div");  //创建一个装result的div
        var new_i = i.toString(); //装一个result的div,其id为result的索引,例如0,1,2,3
        the_div.id = new_i; //为div设置id
        main_div.appendChild(the_div);  //将result放入总的div
        var sub_div = document.createElement("div");
        sub_div.id = "sub"+new_i;
        var sub_div_id = "sub"+new_i;
        the_div.appendChild(sub_div);
        $("#"+sub_div_id).html(
            "<h4>"+"<strong>"+"<i>"+"<font color='#2f4f4f' face='宋体' size='5' >"+"blocknumber:"+"</font>"+
            "<font color='black' face='宋体' size='4'>"+ JSON_results.result[i].blocknumber +"</font>"+"</i>"+"</strong>"+"</h4>"+
            "<h4>"+"<strong>"+"<i>"+"<font color='#2f4f4f' face='宋体' size='5' >"+"contract:"+"</font>"+
            "<font color='black' face='宋体' size='4'>"+ JSON_results.result[i].contract +"</font>"+"</i>"+"</strong>"+"</h4>"+
            "<h4>"+"<strong>"+"<i>"+"<font color='#2f4f4f' face='宋体' size='5' >"+"function name:"+"</font>"+
            "<font color='black' face='宋体' size='4'>"+ JSON_results.result[i].function_name +"</font>"+"</i>"+"</strong>"+"</h4>"+
            "<h4>"+"<strong>"+"<i>"+"<font color='#2f4f4f' face='宋体' size='5' >"+"clones num:"+"</font>"+
            "<font color='black' face='宋体' size='4'>"+ JSON_results.result[i].clones_num +"</font>"+"</i>"+"</strong>"+"</h4>"+
            "<h4>"+"<strong>"+"<i>"+"<font color='#2f4f4f' face='宋体' size='5' >"+"composition count:"+"</font>"+
            "<font color='black' face='宋体' size='4'>"+ JSON_results.result[i].composition_count +"</font>"+"</i>"+"</strong>"+"</h4>"+
            "<h4>"+"<strong>"+"<i>"+"<font color='#2f4f4f' face='宋体' size='5' >"+"input function type:"+"</font>"+
            "<font color='black' face='宋体' size='4'>"+ JSON_results.result[i].input_function_type +"</font>"+"</i>"+"</strong>"+"</h4>"+
            "<h4>"+"<strong>"+"<i>"+"<font color='#2f4f4f' face='宋体' size='5' >"+"matched function type:"+"</font>"+
            "<font color='black' face='宋体' size='4'>"+ JSON_results.result[i].matched_function_type +"</font>"+"</i>"+"</strong>"+"</h4>"+
            "<h6>"+ "<a id='main-href' style='text-decoration:underline;'>"+
            "<font color='black' face='宋体' size='4'>"+ "View flow chart" + "</font>"+"</a>" + "</h6>"
        );
        document.getElementById("main-href").href = JSON_results.result[i].link;
        var hrefid = document.getElementById("main-href");
        hrefid.id = "main-href"+new_i;

        document.getElementById(new_i).style.width = "100%";
        document.getElementById(new_i).style.border = "1px solid #000";
        //创建存放code的div,其id为code+id codea code01  code10 codeb code20 code21
        var code_div0 = document.createElement("div");
        var code_div1 = document.createElement("div");
        code_div0.id = "code0"+new_i; //第一个代码块的div id
        var code0id = "code0"+new_i;
        code_div1.id = "code1"+new_i; //第二个代码块的div id
        var code1id = "code1"+new_i;
        var resultDiv = document.getElementById(new_i);  //获取存放result的div
        resultDiv.appendChild(code_div0);  //将代码块0的div存放在result的div中
        resultDiv.appendChild(code_div1);  //将代码快1的div存放在result的div中

        $("#"+code0id).html(
            "<pre id='code0'>"+"<font color='black' face='宋体' size='4'>"+"<p>"+"input code:"+"</p>"+JSON_results.result[i].codes[0]+"</font>"+"</pre>"
        );
        console.log(i);
        console.log(JSON_results.result[i].codes[1]);
        $("#"+code1id).html(
            "<pre id='code1'>"+"<font color='black' face='宋体' size='4'>"+"<p>"+"code:"+"</p>"+JSON_results.result[i].codes[1]+"</font>"+"</pre>"
        );
        //以下代码，调整代码框 div的位置
            //result 对应的div改成相对
        document.getElementById(new_i).style.position = "relative";
        document.getElementById(new_i).style.height = "500px";
        {#document.getElementById(new_i).style.overflow = "auto";#}

        document.getElementById(code0id).style.width="40%";
        //document.getElementById(code0id).style.height="236px";
        document.getElementById(code0id).style.position="absolute";
        document.getElementById(code0id).style.left = "1%";
        document.getElementById(code0id).style.top = "60%"; //pre : 30

        document.getElementById(code1id).style.width="45%";
        //document.getElementById(code1id).style.height="236px";
        document.getElementById(code1id).style.position="absolute";
        document.getElementById(code1id).style.left = "43%";
        document.getElementById(code1id).style.top = "60%";


        //console.log(JSON_results.result[0].highlight1.length);
        //开始设置突出显示文本代码
            //改变pre内的id  例如codea0 codea1
        var code0 = document.getElementById('code0');
        code0.id = "codea"+new_i;  //改变pre id
        var code0_id = "codea"+new_i;  //存储pre id
        var code1 = document.getElementById('code1');
        code1.id = "codeb"+new_i;
        var code1_id = "codeb"+new_i;  //存储pre id
        for(var j=0;j<JSON_results.result[i].highlight1.length;j++){
           var content = document.getElementById(code0_id);
           var contents = content.innerHTML;
           var text = JSON_results.result[i].highlight1[j]; //需要匹配的文本
           var values = contents.split(text);
           content.innerHTML =values.join("<font color='red'>" +text + "</font>");
        }
        for(var k=0;k<JSON_results.result[i].highlight2.length;k++){
            var content = document.getElementById(code1_id);
            var contents = content.innerHTML;
            var text = JSON_results.result[i].highlight2[k]; //需要匹配的文本
            //console.log(text)
            var values = contents.split(text);
            //console.log(values)
            content.innerHTML =values.join("<font color='red'>" +text + "</font>");
        }
        //突出显示百分比
        for(var l=0;l<JSON_results.result[i].percentage.length;l++){
            var content = document.getElementById(code1_id);
            var contents = content.innerHTML;
            var text = JSON_results.result[i].percentage[l]; //需要匹配的文本
            //console.log(text)
            var values = contents.split(text);
            //console.log(values)
            content.innerHTML =values.join("<font color='#9acd32'>" +text + "</font>");
        }


        {#entity = JSON_results.result[i].graph;  //节点#}
        {#linking = JSON_results.result[i].graph_index;  //关系#}
        {#console.log(entity);#}
        {#console.log(linking);#}
        {#var $ = go.GraphObject.make;  //节点创建命令#}
        {#var diagram = new go.Diagram("main-graph"+new_i);   //在哪个div中创建图#}
        {#diagram.nodeTemplate =#}
        {#    $(go.Node, "Auto", //形状自动填充适合#}
        {#        $(go.Shape, "RoundedRectangle", // 使用圆角长方形#}
        {#            // 将Shape.fill绑定到Node.data.color#}
        {#            new go.Binding("fill", "color")),#}
        {#        $(go.TextBlock, {#}
        {#                margin: 3 //文字的间距#}
        {#            },#}
        {#            // 将TextBlock.text绑定到Node.data.key#}
        {#            new go.Binding("text", "key"))#}
        {#    );#}
        {#diagram.model = new go.GraphLinksModel(entity,#}
        {#linking)#}
        {#diagram.initialContentAlignment = go.Spot.Center;#}
        {#// 启用Ctrl-Z撤消和Ctrl-Y重做#}
        {#diagram.undoManager.isEnabled = true;#}

        //document.getElementById("main-graph"+new_i).style.border = "1px solid #000";

    };


</script>
</body>
</html>

